%h1 Listing photos

%table
  %tr
    %th Thumbnail
    %th Title
    %th Width
    %th Height
    %th Format
    %th Mean color
    %th Md5
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= image_tag(photo.image.thumbnail.url)
      %td= photo.title
      %td= photo.width
      %td= photo.height
      %td= photo.format
      %td{:style => "background-color: #{hex_rgb(photo.mean_color)}" }= photo.mean_color
      %td= photo.md5
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Photo', new_photo_path
